---
import Container from '@/components/base-components/Container.astro';
---

<Container id="hero">
  <div class="w-full h-full flex items-end justify-center">
    <h1>Equipo</h1>
  </div>
</Container>
