---
import Boton from "@/components/base-components/Boton.astro";
import Container from "@/components/base-components/Container.astro";
import TituloCards from "@/components/base-components/TituloCards.astro";
---

<Container id="unite_equipo">
  <div
    class="border-negro shadow-Panambi flex w-full items-center justify-center rounded-3xl border-2 py-5 sm:w-[80%]"
  >
    <div class="flex flex-col items-center justify-center gap-4">
      <TituloCards
        textNegro={true}
        title="somos panambi"
        subtitle="unite al equipo"
      />
      <Boton texto="Envianos tu CV" href="mailto:administracion@panambi.net" />
    </div>
  </div>
</Container>
