---

---

<span class="w-full bg-gray-900">
  <p class="text-center text-xs font-thin z-50 text-gray-300">
    Desarrollado por
    <a
      class="cursor-pointer font-medium z-30"
      aria-label="Link al Github de JM-Dev"
      href="https://github.com/JM-Dev-ARG"
      target="_blank"
      title="Link al Github de JM-Dev"
    >
      JM-DEV
    </a>
    / <a
      class="cursor-pointer font-medium z-30"
      href="https://panambi.net/"
      target="_blank"
      title="Link a la Agencia Panambi"
      >Agencia Panambi</a
    >
  </p>
</span>
