---

---

<span class="bg-negro w-full">
  <p class="z-50 text-center text-xs font-thin text-gray-300">
    Desarrollado por
    <a
      class="z-30 cursor-pointer font-medium"
      aria-label="Link al Github de JM-Dev"
      href="https://github.com/JM-Dev-ARG"
      target="_blank"
      title="Link al Github de JM-Dev"
    >
      JM-DEV
    </a>
    / <a
      class="z-30 cursor-pointer font-medium"
      href="https://panambi.net/"
      target="_blank"
      title="Link a la Agencia Panambi">Agencia Panambi</a
    >
  </p>
</span>
