---
import Flecha_svg from "./svg/Flecha_svg.astro";
interface Props {
  texto: string;
  bgVerde?: boolean;
  href: string;
}

const { texto, bgVerde, href } = Astro.props;
---

<div data-aos="fade-down">
  <a
    href={href}
    title=`Link a sección ${texto}`
    class=`flex gap-2 h-auto cursor-pointer items-center justify-center rounded-xl ${bgVerde ? "bg-verde1-300":"bg-neutral-100"} py-4 px-3 font-semibold text-neutral-900 transition-all duration-500 hover:scale-105 2xl:px-6 border-2 border-negro shadow-Panambi `
  >
    {texto}

    <Flecha_svg width="20" height="20" fill="#6e4986" />
  </a>
</div>
