---
import Autoria from "./Autoria.astro";

interface Props {
  id: string;
  classNameSeccion?: string;
  classNameContainer?: string;
}
const { id, classNameSeccion, classNameContainer } = Astro.props;
---

<section
  id={id}
  class={`section w-full grid place-items-center mx-auto ${classNameSeccion}`}
>
  <div
    class={`h-full w-full max-w-[1440px] mx-auto grid place-items-center px-4 ${classNameContainer}`}
  >
    <slot />
  </div>
  {id === "footer" ? <Autoria /> : ""}
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    const section = document.querySelector("section") as HTMLElement;
    const viewPort = window.innerWidth;
    const isMobile = viewPort <= 768;
    if (isMobile) {
      section.classList.add("mt-[100px]");
    } else {
      section.classList.remove("mt-[100px]");
    }
  });
</script>
