---
import Autoria from "./Autoria.astro";
import TerminosCondiciones from "./TerminosCondiciones.astro";

interface Props {
  id?: string;
  classNameSeccion?: string;
  classNameContainer?: string;
  marginTop?: string;
}
const { id, classNameSeccion, classNameContainer, marginTop } = Astro.props;
---

<section
  id={id}
  class={`w-full grid place-items-center mx-auto ${marginTop ? `mt-[80px] ${marginTop}` : "mt-[80px]"} ${classNameSeccion} `}
>
  <div
    class={`h-full w-full max-w-[1280px] mx-auto grid place-items-center px-4 ${classNameContainer}`}
  >
    <slot />
    {
      id === "footer" ? (
        <div class="bg-negro flex w-full flex-col items-center justify-center gap-2">
          <TerminosCondiciones />
          <Autoria />
        </div>
      ) : (
        ""
      )
    }
  </div>
</section>
