---
import Container from "./Container.astro";
import logo from "@/assets/svg/logotipo_footer.svg";
import nombre from "@/assets/svg/logo_full_lila.svg";
---

<Container id="footer">
  <footer
    class="bg-negro flex w-full flex-col items-center justify-center overflow-hidden rounded-tl-3xl rounded-tr-3xl px-12 sm:h-[250px] sm:flex-row sm:justify-between lg:h-[300px]"
    data-aos="fade-up"
  >
    <a
      href="/#hero_index"
      class="inline-block object-contain sm:w-[35%] lg:w-[30%] xl:w-[25%]"
    >
      <img
        src={logo.src}
        alt="Logo Panambi"
        title="Logo Panambi"
        width="auto"
        height="auto"
        loading="lazy"
        class="w-full object-contain object-bottom"
      />
      <img
        src={nombre.src}
        alt="Logo Panambi escrito"
        title="Logo Panambi escrito"
        width="auto"
        height="auto"
        loading="lazy"
        class="-mt-11 w-[250px] object-contain lg:-mt-14 xl:-mt-16"
      />
    </a>

    <div
      class="flex w-full items-start justify-between py-4 text-neutral-100 sm:w-[30%]"
    >
      <nav
        class="flex h-full flex-col items-start justify-center gap-3 text-left"
      >
        <p
          class="font-titulo tracking-panambi-nav text-lg font-light lg:text-2xl"
        >
          Secciones
        </p>
        <div class="flex flex-col items-start justify-center gap-2">
          <a
            class="transform-3d nav-link group relative flex h-[18px] cursor-pointer flex-col items-center justify-center overflow-hidden text-sm lg:h-[20px] lg:text-lg"
            href="/servicios"
            title="Link a secci贸n Servicios"
          >
            <p
              class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
            >
              Servicios
            </p>
            <p
              class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
            >
              Servicios
            </p>
          </a>
          <a
            class="transform-3d nav-link group relative flex h-[18px] cursor-pointer flex-col items-center justify-center overflow-hidden text-sm lg:h-[20px] lg:text-lg"
            href="/proyectos"
            title="Link a secci贸n Proyectos"
          >
            <p
              class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
            >
              Proyectos
            </p>
            <p
              class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
            >
              Proyectos
            </p>
          </a>
          <a
            class="transform-3d nav-link group relative flex h-[18px] cursor-pointer flex-col items-center justify-center overflow-hidden text-sm lg:h-[20px] lg:text-lg"
            href="/equipo"
            title="Link a secci贸n Equipo"
          >
            <p
              class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
            >
              Equipo
            </p>
            <p
              class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
            >
              Equipo
            </p>
          </a>
          <a
            class="transform-3d nav-link group relative flex h-[18px] cursor-pointer flex-col items-center justify-center overflow-hidden text-sm lg:h-[20px] lg:text-lg"
            href="/contacto"
            title="Link a secci贸n Contacto"
          >
            <p
              class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
            >
              Contacto
            </p>
            <p
              class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
            >
              Contacto
            </p>
          </a>
        </div>
      </nav>
      <nav
        class="flex h-full flex-col items-start justify-center gap-3 text-left"
      >
        <p
          class="font-titulo tracking-panambi-nav text-lg font-light lg:text-2xl"
        >
          Redes
        </p>
        <div class="flex flex-col items-start justify-center gap-2">
          <a
            class="transform-3d nav-link group relative flex h-[18px] cursor-pointer flex-col items-center justify-center overflow-hidden text-sm lg:h-[20px] lg:text-lg"
            href="https://www.instagram.com/panambi.mkt/?igsh=MWNtb3o3NXRyc2p6aw%3D%3D#"
            target="_blank"
            title="Link a Instagram"
          >
            <p
              class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
            >
              Instagram
            </p>
            <p
              class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
            >
              Instagram
            </p>
          </a>
          <a
            class="transform-3d nav-link group relative flex h-[18px] cursor-pointer flex-col items-center justify-center overflow-hidden text-sm lg:h-[20px] lg:text-lg"
            href="https://www.linkedin.com/company/panambi-ag/?originalSubdomain=ar"
            target="_blank"
            title="Link a Linkedin"
          >
            <p
              class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
            >
              Linkedin
            </p>
            <p
              class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
            >
              Linkedin
            </p>
          </a>

          <a
            class="transform-3d nav-link group relative flex h-[18px] cursor-pointer flex-col items-center justify-center overflow-hidden text-sm lg:h-[20px] lg:text-lg"
            href="https://wa.me/5491131664971?text=Hola, quiero hacer una consulta."
            target="_blank"
            title="Link a Whatsapp"
          >
            <p
              class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
            >
              Whatsapp
            </p>
            <p
              class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
            >
              Whatsapp
            </p>
          </a>
        </div>
      </nav>
    </div>
  </footer>
</Container>
