---
interface Props {
  textColor?: string;
  fontSize?: string;
  bgColor?: string;
}
const { textColor, fontSize, bgColor } = Astro.props;

console.log(fontSize);
---

<a
  class={`z-50 text-center ${fontSize ?? "text-xs"} font-light ${textColor ?? "text-gray-300"} cursor-pointer font-medium w-full ${bgColor ?? "transparent"}`}
  aria-label="Link a terminos y condiciones"
  href="/terminosycondiciones"
  target="_blank"
  title="Link a terminos y condiciones"
  rel="noopener noreferrer"
>
  Términos y Condiciones
</a>
