---

---

<span class="bg-negro w-full">
  <p class="z-50 text-center text-xs font-thin text-gray-300">
    <a
      class="z-30 cursor-pointer font-medium"
      aria-label="Link a terminos y condiciones"
      href="/terminosycondiciones"
      target="_blank"
      title="Link a terminos y condiciones"
      rel="noopener noreferrer"
    >
      Términos y Condiciones
    </a>
  </p>
</span>
