---
interface Props {
  name: string;
  placeholder: string;
  notrequired?: boolean;
}

const { name, notrequired, placeholder } = Astro.props;
---

<div class="relative w-full">
  <textarea
    rows="6"
    name={name}
    id={name}
    required={!notrequired}
    placeholder=" "
    class="focus:border-negro focus:shadow-Panambi-input lo peer w-full rounded-xl bg-neutral-200 p-3 text-lg uppercase placeholder-transparent transition-all duration-150 focus:border-2 focus:outline-none sm:text-xl lg:text-2xl"
  ></textarea>

  <label
    for={name}
    class="peer-focus:leading-0.5 leading-0.5 pointer-events-none absolute -top-0 left-3 z-10 bg-[#f9f9f9] px-1 text-base uppercase text-neutral-400 transition-all duration-150 peer-placeholder-shown:top-6 peer-placeholder-shown:bg-transparent peer-placeholder-shown:px-1 peer-placeholder-shown:text-base peer-focus:-top-0 peer-focus:bg-[#f9f9f9] peer-focus:text-base peer-focus:text-neutral-400 sm:text-xl peer-placeholder-shown:sm:text-xl peer-focus:sm:text-xl lg:text-2xl peer-placeholder-shown:lg:text-2xl peer-focus:lg:text-2xl"
  >
    {placeholder}
  </label>
</div>
