---
import quote from "@/assets/svg/quote.svg";
interface Props {}
---

<article
  class="border-negro shadow-Panambi relative flex h-[400px] w-[300px] flex-col items-start justify-between rounded-3xl border-2 p-8 sm:h-[300px] sm:w-[500px]"
>
  <img
    src={quote.src}
    alt="Quotes"
    class="absolute -top-[9%] right-0 size-28 sm:-top-[15%] sm:size-36"
  />
  <div class="flex w-full flex-col items-start justify-center gap-1">
    <p class="font-titulo text-2xl font-semibold">Hola mundo</p>
    <p class="font-titulo text-violeta1-300 text-xl">Hola mundo</p>
  </div>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum facere,
    corporis dolores illo impedit molestiae sunt maiores sed. Eaque corporis ad
    necessitatibus recusandae quisquam sapiente nisi deleniti obcaecati dolores
    laboriosam!
  </p>
</article>
