---
import Carrousel from "@/components/base-components/Carrousel.astro";
import Container from "@/components/base-components/Container.astro";

import Titulo from "@/components/base-components/Titulo.astro";
import CardComentarios from "./CardComentarios.astro";
---

<Container id="comentarios_desarrollo_web">
  <div
    class="flex h-full w-full items-end justify-center sm:w-[80%] lg:w-[70%]"
  >
    <Titulo title="quienes nos eligieron" subtitle="hablan de nosotros" />
  </div>

  <Carrousel duration="slow" classSlider="gap-4 h-full py-4" mascara={true}>
    <CardComentarios />
    <CardComentarios />
    <CardComentarios />
    <CardComentarios />
    <CardComentarios />
    <CardComentarios />
    <CardComentarios />
  </Carrousel>
</Container>
