---
import Container from "@/components/base-components/Container.astro";
import Titulo from "@/components/base-components/Titulo.astro";
---

<Container id="hero_servicios">
  <div
    class="mt-4 flex h-full w-full items-end justify-center sm:mt-8 sm:w-[80%] lg:w-[70%] xl:w-[50%]"
  >
    <Titulo
      title="Convertimos tu idea"
      subtitle="en un magneto de oportunidades"
    />
  </div>
</Container>
