---
import Container from "@/components/base-components/Container.astro";
import Detalle from "@/components/base-components/Detalle.astro";
import Titulo from "@/components/base-components/Titulo.astro";
interface Props {
  dataFaqs: {
    pregunta: string;
    respuesta: string;
  }[];
}

const { dataFaqs } = Astro.props;
---

<Container id="preguntas_frecuentes_desarrollo_web">
  <div
    class="flex h-full w-full items-end justify-center sm:w-[80%] lg:w-[70%]"
  >
    <Titulo title="preguntas frecuentes" />
  </div>

  <div
    class="preguntas-frecuentes mx-auto grid w-full place-items-center gap-4 overflow-hidden p-4 xl:w-[80%]"
  >
    {
      dataFaqs.map((item, index) => (
        <Detalle
          pregunta={item.pregunta}
          respuesta={item.respuesta}
          origenAnimacion={index % 2 === 0 ? "left" : "right"}
        />
      ))
    }
  </div>
</Container>

<script>
  document.addEventListener("astro:page-load", () => {
    const detalles = document.querySelectorAll(
      ".custom-details",
    ) as NodeListOf<HTMLDetailsElement>;

    detalles.forEach((detalle) => {
      detalle.addEventListener("toggle", () => {
        if (detalle.open) {
          detalles.forEach((d) => {
            if (d !== detalle) {
              d.open = false;
            }
          });
        }
      });
    });
  });
</script>
