---
import logo from "@/assets/svg/logotipoPanambi.svg";
import LogotipoAnimado from "../svg/LogotipoAnimado.astro";
---

<nav class="sticky top-0 z-50 mx-auto grid w-full place-items-center pt-3">
  <div
    class="bg-verde2-400/85 backdrop-blur-xs tracking-panambi-nav flex h-[75px] w-[30%] min-w-[570px] items-center justify-between rounded-xl p-[6px] text-[14px] font-normal text-neutral-100"
  >
    <a
      href="/"
      class="size-[67px]"
      ><LogotipoAnimado />
    </a>
    <div class="flex h-full flex-1 items-center justify-evenly">
      <div
        class="flex h-full items-center justify-center transition-all duration-300"
      >
        <a
          class="transform-3d group flex h-full cursor-pointer items-center justify-center pt-5"
          href="/servicios"
        >
          <div class="h-full overflow-hidden">
            <p
              class="transform-3d h-full pt-[2px] transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
            >
              Servicios
            </p>
            <p
              class="transform-3d h-full pt-[2px] opacity-0 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-100"
            >
              Servicios
            </p>
          </div>
        </a>
      </div>
      <div
        class="flex h-full items-center justify-center transition-all duration-300"
      >
        <a
          class="transform-3d group flex h-full cursor-pointer items-center justify-center pt-5"
          href="/proyectos"
        >
          <div class="h-full overflow-hidden">
            <p
              class="transform-3d h-full pt-[2px] transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
            >
              Proyectos
            </p>
            <p
              class="transform-3d h-full pt-[2px] opacity-0 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-100"
            >
              Proyectos
            </p>
          </div>
        </a>
      </div>

      <div
        class="flex h-full items-center justify-center transition-all duration-300"
      >
        <a
          class="transform-3d group flex h-full cursor-pointer items-center justify-center pt-5"
          href="/equipo"
        >
          <div class="h-full overflow-hidden">
            <p
              class="transform-3d h-full pt-[2px] transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
            >
              Equipo
            </p>
            <p
              class="transform-3d h-full pt-[2px] opacity-0 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-100"
            >
              Equipo
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="flex h-full items-center justify-center">
      <a
        class="transform-3d group flex h-full cursor-pointer items-center justify-center rounded-lg bg-neutral-50 px-7 pt-5 font-semibold text-neutral-900 transition-all duration-500 hover:scale-95"
        href="/contacto"
      >
        <div class="h-full overflow-hidden">
          <p
            class="transform-3d h-full pt-[2px] transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
          >
            Contacto
          </p>
          <p
            class="transform-3d h-full pt-[2px] opacity-0 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-100"
          >
            Contacto
          </p>
        </div>
      </a>
    </div>
  </div>
</nav>
