---

---

<nav class="w-full pt-3 grid place-items-center fixed">
  <div
    class="w-[700px] bg-verde2-300/85 h-[80px] rounded-2xl flex justify-between items-center p-2"
  >
    <div class="text-white">Logo</div>
    <ul class="flex space-x-4">
      <li>
        <a
          href="/"
          class="text-white"
          >Inicio</a
        >
      </li>
      <li>
        <a
          href="/servicios"
          class="text-white"
          >Servicios</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white"
          >Contacto</a
        >
      </li>
    </ul>
    <div class="h-full">
      <button
        class="bg-neutral-100 text-neutral-900 px-7 h-full rounded-lg hover:bg-verde2-600 transition"
      >
        Contáctanos
      </button>
    </div>
  </div>
</nav>
