---
import logo from "@/assets/svg/logotipoPanambi.svg";
---

<nav class="sticky top-0 z-50 mx-auto grid grid-cols-2 w-fit place-items-center pt-3 ">
  <div
    class="bg-verde2-400 backdrop-blur-xs tracking-panambi-nav flex flex-col h-[65px] w-[160px] items-center justify-between rounded-xl p-[6px] text-[14px] font-normal text-neutral-100 shadow-md"
  >
  <div class="flex w-full h-full items-center justify-center  ">
    <a
      href="/"
      class="size-[67px]   "
      ><img src={logo.src} alt="Logo Panambi" />
    </a>
    <span class="w-[1px] bg-verde4-300 h-3/4 mx-[1px]"></span>
    <button  class="menu__nav__button w-[calc(100%-83px)] flex flex-col items-center justify-center ">
            <div
              class="menu__nav__button__line transform-3d relative w-full h-full transition-all duration-500 "
            >
              Menu
              <p
              class="menu__nav__button__2nd__line__text transform-3d w-full h-full absolute top-full left-0  transition-all duration-500 opacity-0"
            >
              Cerrar
            </p>
        </div>
            
    </button>
    </div>
    <div class="flex flex-col h-full flex-1 items-center justify-evenly gap-4 py-5">
       <a
          class="transform-3d flex h-full cursor-pointer items-center justify-center"
          href="/servicios"
        >Servicios
          
        </a>
       <a
          class="transform-3d flex h-full cursor-pointer items-center justify-center"
          href="/servicios"
        >Proyectos
          
        </a> <a
          class="transform-3d flex h-full cursor-pointer items-center justify-center"
          href="/servicios"
        >Equipo
          
        </a>
    </div>
  
  </div>

  <div class="flex h-full items-center justify-center">
      <a
        class="transform-3d group flex h-full cursor-pointer items-center justify-center rounded-lg bg-neutral-50 px-7 py-5 font-semibold text-neutral-900  shadow-md"
        href="/contacto"
      >
        <p
            class="transform-3d "
          >
            Contacto
          </p>
      </a>
    </div>
</nav>


<script>
 document.addEventListener("astro:page-load", () => {
  const button = document.querySelector(".menu__nav__button");
  const menu = document.querySelector(".menu__nav__button__line");
  const cerrar = document.querySelector(".menu__nav__button__2nd__line__text");
  button?.addEventListener("click", () => {
    const nav = document.querySelector("nav");
    nav?.classList.toggle("nav--open");
    button.classList.toggle("button--open");
  });
});
</script>