---
import LogotipoAnimado from "../svg/LogotipoAnimado.astro";
import Carrousel from "../Carrousel.astro";
---

<nav
  class="top-0 z-50 mx-auto hidden w-full place-items-center gap-3 pt-2 md:fixed lg:grid"
>
  <div
    class="bg-negro/85 backdrop-blur-xs tracking-panambi-nav flex h-[55px] w-[30%] min-w-[470px] items-center justify-between rounded-xl p-[6px] text-[12px] font-normal text-neutral-100 2xl:h-[75px] 2xl:text-[14px]"
  >
    <a href="/" class="size-[48px] 2xl:size-[67px]"><LogotipoAnimado /> </a>
    <div class="flex h-full flex-1 items-center justify-evenly">
      <a
        class="transform-3d nav-link group relative flex cursor-pointer flex-col items-center justify-center overflow-hidden"
        href="/servicios"
        data-target="servicios"
      >
        <p
          class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
        >
          Servicios
        </p>
        <p
          class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
        >
          Servicios
        </p>
      </a>
      <a
        class="transform-3d nav-link group relative flex cursor-pointer flex-col items-center justify-center overflow-hidden"
        href="/proyectos"
        data-target="proyectos"
      >
        <p
          class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
        >
          Proyectos
        </p>
        <p
          class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
        >
          Proyectos
        </p>
      </a>

      <a
        class="transform-3d nav-link group relative flex cursor-pointer flex-col items-center justify-center overflow-hidden"
        href="/equipo"
        data-target="equipo"
      >
        <p
          class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
        >
          Equipo
        </p>
        <p
          class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
        >
          Equipo
        </p>
      </a>
    </div>
    <div class="flex h-full items-center justify-center">
      <a
        class="transform-3d group relative flex h-full cursor-pointer flex-col items-center justify-center rounded-lg bg-neutral-50 px-3 font-semibold text-neutral-900 transition-all duration-500 hover:scale-[98%] 2xl:px-4"
        href="/contacto"
      >
        <p
          class="abasolute transform-3d -top-1/2 left-0 translate-y-1/2 transition-all duration-500 group-hover:-translate-y-full group-hover:opacity-0"
        >
          Contacto
        </p>
        <p
          class="abasolute transform-3d -top-full left-0 opacity-0 transition-all duration-500 group-hover:-translate-y-1/2 group-hover:opacity-100"
        >
          Contacto
        </p>
      </a>
    </div>
  </div>

  <!-- Contenedor deslizante -->
  <div
    class="backdrop-blur-xs navbar__content bg-negro z-50 flex h-[0px] w-[30%] min-w-[470px] scale-0 items-center justify-center overflow-hidden rounded-xl p-1 opacity-0 transition-all duration-500"
  >
    <!-- Contenido para servicios -->
    <div id="servicios-content" class="masacara_rodillo h-full w-full">
      <div
        class="transform-3d bg-negro flex h-full w-full flex-col items-center justify-center"
      >
        <div class="box_rodillo_animado">
          <p class="texto__rodillo_animado" style="--p:1">Desarrollo Web</p><p
            class="texto__rodillo_animado"
            style="--p:2"
          >
            Consultoría
          </p><p class="texto__rodillo_animado" style="--p:3">
            Diseño de Marca
          </p><p class="texto__rodillo_animado" style="--p:4">
            Marketing Digital
          </p><p class="texto__rodillo_animado" style="--p:5">
            Content Creation
          </p><p class="texto__rodillo_animado" style="--p:6">Social Media</p><p
            class="texto__rodillo_animado"
            style="--p:7"
          >
            Estrategias
          </p><p class="texto__rodillo_animado" style="--p:8">
            Edición de Video
          </p>
          <p class="texto__rodillo_animado" style="--p:9">Desarrollo Web</p><p
            class="texto__rodillo_animado"
            style="--p:10"
          >
            Consultoría
          </p><p class="texto__rodillo_animado" style="--p:11">
            Diseño de Marca
          </p><p class="texto__rodillo_animado" style="--p:12">
            Marketing Digital
          </p><p class="texto__rodillo_animado" style="--p:13">
            Content Creation
          </p><p class="texto__rodillo_animado" style="--p:14">Social Media</p>
          <p class="texto__rodillo_animado" style="--p:15">Estrategias</p>
          <p class="texto__rodillo_animado" style="--p:16">Edición de Video</p>
        </div>
      </div>
    </div>

    <!-- Contenido con carrousel -->
    <div
      id="carrousel_container"
      class="flex h-full w-full items-center justify-center overflow-hidden rounded-lg"
    >
      <Carrousel
        className="h-full"
        classSlider="h-full gap-2 "
        id="nav-carrousel"
        duration="fast"
      />
    </div>
  </div>
</nav>

<style>
  .masacara_rodillo {
    /* isolation: isolate; */
    mask-image: linear-gradient(
      180deg,
      rgba(10, 10, 10, 0.05) 0%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 60%,
      rgba(10, 10, 10, 0.05) 100%
    );
    -webkit-mask-image: linear-gradient(
      180deg,
      rgba(10, 10, 10, 0.05) 0%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 60%,
      rgba(10, 10, 10, 0.05) 100%
    );
  }
  .box_rodillo_animado {
    transform-style: preserve-3d;
    background-color: #1a181b;
    animation: animate 25s linear infinite;
  }

  .box_rodillo_animado .texto__rodillo_animado {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 38px;
    color: #e8e8e8;
    transform: translate(-50%, -50%) rotateX(calc(var(--p) * 22.5deg))
      translateZ(100px);
    white-space: nowrap;
    font-weight: 600;
    transform-style: preserve-3d;
  }

  @keyframes animate {
    0% {
      transform: perspective(1000px) rotateX(0deg);
    }
    100% {
      transform: perspective(1000px) rotateX(-360deg);
    }
  }
</style>

<script>
  import dataEquipo from "../../../data/equipo.json";
  import dataProyectos from "../../../data/navbar_proyectos.json";
  import dataServicios from "../../../data/navbar_servicios.json";

  document.addEventListener("astro:page-load", () => {
    const navLinks = document.querySelectorAll(
      ".nav-link",
    ) as NodeListOf<HTMLAnchorElement>;
    const navContent = document.querySelector(
      ".navbar__content",
    ) as HTMLDivElement;
    const carrouselContainer = document.getElementById(
      "carrousel_container",
    ) as HTMLDivElement;
    const carrousel = document.getElementById(
      "nav-carrousel",
    ) as HTMLDivElement;
    const serviciosContent = document.getElementById(
      "servicios-content",
    ) as HTMLDivElement;

    const navData = {
      servicios: dataServicios,
      proyectos: dataProyectos,
      equipo: dataEquipo,
    };

    let leaveTimeout: NodeJS.Timeout;

    const showNavContent = (target: keyof typeof navData) => {
      clearTimeout(leaveTimeout);

      if (target === "servicios") {
        if (carrousel) carrouselContainer.style.display = "none";
        if (serviciosContent) {
          serviciosContent.style.display = "flex";
          navContent.classList.add("mascara");
        }
      } else {
        if (serviciosContent) serviciosContent.style.display = "none";
        if (carrousel) {
          carrouselContainer.style.display = "block";
          navContent.classList.remove("mascara");
          const data = navData[target] || [];
          let carouselItemsHTML = "";
          data.forEach((item) => {
            carouselItemsHTML += `<div class="flex h-full w-[180px] flex-col items-center justify-center rounded-md text-center">
                <img src="${item.img}" alt="${item.title}" class="h-full  object-cover" />
              </div>`;
          });
          carrousel.innerHTML = carouselItemsHTML;
        }
      }
      navContent?.classList.add("scale-100", "opacity-100", "h-[200px]");
      navContent?.classList.remove("h-[0px]");
    };

    const hideNavContent = () => {
      leaveTimeout = setTimeout(() => {
        navContent?.classList.remove("scale-100", "opacity-100", "h-[200px]");
        navContent?.classList.add("h-[0px]");
      }, 200);
    };

    navLinks.forEach((link) => {
      link.addEventListener("mouseenter", () => {
        const target = link.dataset.target;
        if (target) {
          showNavContent(target as keyof typeof navData);
        }
      });
      link.addEventListener("mouseleave", hideNavContent);
    });

    navContent?.addEventListener("mouseenter", () => {
      clearTimeout(leaveTimeout);
    });

    navContent?.addEventListener("mouseleave", hideNavContent);
  });
</script>
