---
import Container from "@/components/base-components/Container.astro";
import InputForm from "@/components/base-components/InputForm.astro";
import TextAreaForm from "@/components/base-components/TextAreaForm.astro";
import Titulo from "@/components/base-components/Titulo.astro";
import Flecha_svg from "@/components/base-components/svg/Flecha_svg.astro";
import { actions } from "astro:actions";
---

<Container id="formulario_contacto">
  <Titulo
    title="queremos acompañarte"
    subtitle="Comencemos con tu proyecto ahora!"
  />
  <div class="mt-6 flex w-full sm:w-[70%]">
    <form
      id="contacto-form"
      class="flex w-full flex-col items-start justify-start gap-4"
      method="POST"
      action={actions.sendMail}
    >
      <p
        class="tracking-panambi-nav text-left font-normal uppercase sm:text-2xl lg:text-3xl"
      >
        TUS DATOS
      </p>
      <InputForm
        type="text"
        name="nombre_completo"
        placeholder="Nombre y Apellido"
        inputType="text"
      />
      <InputForm
        type="text"
        name="motivo"
        placeholder="Motivo"
        inputType="text"
      />
      <InputForm
        type="email"
        name="email"
        placeholder="Email"
        inputType="email"
      />
      <InputForm
        type="number"
        name="telefono"
        placeholder="Teléfono (opcional)"
        notrequired={true}
        inputType="tel"
      />

      <p
        class="tracking-panambi-nav mt-4 text-left font-normal uppercase sm:text-2xl lg:text-3xl"
      >
        Sobre tu negocio
      </p>
      <InputForm
        type="text"
        name="nombre_negocio"
        placeholder="Nombre del negocio"
        notrequired={true}
        inputType="text"
      />
      <TextAreaForm name="mensaje" placeholder="Como podemos ayudarte" />
      <InputForm
        type="text"
        name="presupuesto"
        placeholder="¿tenes presupuesto desitnado?"
        notrequired={true}
        inputType="text"
      />
      <div class="mx-auto mt-4 grid w-full place-items-center">
        <button
          type="submit"
          class="border-negro shadow-Panambi flex h-auto w-fit cursor-pointer items-center justify-center gap-2 rounded-xl border-2 bg-neutral-100 px-3 py-4 font-semibold text-neutral-900 transition-all duration-500 hover:scale-105 2xl:px-6"
        >
          Envia tu consulta
          <Flecha_svg width="20" height="20" fill="#6e4986" />
        </button>
      </div>
    </form>
  </div>
</Container>

<script>
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";

  const form = document.getElementById("contacto-form") as HTMLFormElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    const nombre = formData.get("nombre_completo") as string;
    const motivo = formData.get("motivo") as string;
    const email = formData.get("email") as string;
    const tel = formData.get("telefono") as string;
    const negocio = formData.get("nombre_negocio") as string;
    const presupuesto = formData.get("presupuesto") as string;
    const msj = formData.get("mensaje") as string;

    const { data, error } = await actions.sendMail({
      nombre,
      email,
      telefono: tel,
      mensaje: msj,
      motivo,
      presupuesto,
      nombreNegocio: negocio,
    });
    if (error) {
      console.error(error);
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Algo salió mal 💥, intentá de nuevo por favor",
      });
      form.reset();
    } else {
      Swal.fire({
        title: "Gracias por contactarnos ✉️",
        text: "En breve nos estaremos comunicando con vos",
        showConfirmButton: false,
        timer: 5000,
      });
      form.reset();
    }
  });
</script>
