---
import Container from "@/components/base-components/Container.astro";
import Titulo from "@/components/base-components/Titulo.astro";
---

<Container id="hero_contacto">
  <div class="flex h-full w-[60%] items-end justify-center mt-8">
    <Titulo
      title="Contactanos"
      subtitle="Nos encanta saber de vos"
    />
  </div>
  <div class="flex h-[600px] w-full items-end justify-center mt-8 bg-violeta1-300 border-2 border-negro shadow-Panambi rounded-3xl">

  </div>
</Container>
