---
import Container from "@/components/base-components/Container.astro";
import CardComo from "@/components/base-components/CardComo.astro";
import cardComoData from "@/data/como.json";
import TituloCards from "@/components/base-components/TituloCards.astro";
---

<Container id="Como_lo_hacemos">
  <div
    class="border-negro shadow-Panambi bg-verde2-300 grid h-full w-full place-items-center rounded-3xl border-2 p-6"
  >
    <div
      class="flex h-full w-full flex-col items-center justify-center gap-4 md:w-[80%]"
    >
      <TituloCards
        title="Como hacemos para"
        subtitle="LLevar tu negocio al siguiente nivel"
      />
    </div>

    <div
      class="grid w-full gap-10 px-3 pb-6 pt-12 lg:grid-cols-2 lg:grid-rows-2"
    >
      {
        cardComoData.map((card) => (
          <CardComo
            titulo={card.titulo}
            descripcion={card.descripcion}
          />
        ))
      }
    </div>
  </div>
</Container>
