---
import Container from "@/components/base-components/Container.astro";
import logo from "@/assets/svg/logotipo.svg";
import Boton from "@/components/base-components/Boton.astro";
import TituloCards from "@/components/base-components/TituloCards.astro";
---

<Container id="Conocenos_index">
  <div
    class="border-negro shadow-Panambi bg-violeta3-100 relative w-full rounded-3xl border-2 px-3 py-6 sm:w-4/5"
  >
    <img
      src={logo.src}
      alt="Logo Panambi"
      width="auto"
      height="auto"
      loading="lazy"
      class="absolute -top-[85px] left-1/2 h-[180px] -translate-x-1/2"
    />
    <div
      class="mt-14 flex h-full w-full flex-col items-center justify-center gap-4"
    >
      <TituloCards
        textNegro={true}
        title="Para vender tus servicios hoy"
        subtitle="necesitas planificación, tecnología y mentalidad de negocios"
      />

      <div
        class="flex w-full flex-col items-center justify-center gap-4 sm:flex-row"
      >
        <Boton texto="Nuestros servicios" href="/servicios" />
        <Boton texto="Conocenos" href="/equipo" bgVerde={true} />
      </div>
    </div>
  </div>
</Container>

<style></style>
