---
import Container from "@/components/base-components/Container.astro";
import logo from "@/assets/svg/logotipoPanambi.svg";
import Boton from "@/components/base-components/Boton.astro";
import TituloCards from "@/components/base-components/TituloCards.astro";
---

<Container id="Conocenos_index">
  <div
    class="border-negro shadow-Panambi bg-violeta1-100/30 relative w-full sm:w-4/5 rounded-3xl border-2 py-6 px-3"
  >
    <img
      src={logo.src}
      alt="Logo Panambi"
      width="auto"
      height="auto"
      loading="lazy"
      class="absolute -top-[85px] left-1/2 h-[180px] -translate-x-1/2"
    />
    <div
      class="mt-14 flex h-full w-full flex-col items-center justify-center gap-4"
    >
      <TituloCards
        textNegro={true}
        title="Para Comercializar seguros hoy"
        subtitle="necesitas planificación, tecnología y mentalidad de negocios"
      />

      <div
        class="flex w-full flex-col-reverse items-center justify-center gap-4 sm:flex-row"
      >
        <Boton
          texto="Nuestros proyectos"
          href="/proyectos"
        />
        <Boton
          texto="Conocenos"
          href="/equipo"
          bgVerde={true}
        />
      </div>
    </div>
  </div>
</Container>

<style></style>
