---
import Container from "@/components/base-components/Container.astro";
---

<Container id="hero">
  <div class="flex h-dvh w-full items-start justify-center">
    <h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1><h1>Landing</h1>
  </div>
</Container>
