---
import Container from "@/components/base-components/Container.astro";
---

<Container id="hero">
  <div class="flex h-dvh w-full flex-wrap items-start justify-center flex-col">
    <h1 class="font-black text-9xl font-titulo">Nacho</h1><h1>El mas lindo del mundo</h1>
  </div>
</Container>
