---
import Container from "@/components/base-components/Container.astro";
---

<Container id="hero">
  <div class="flex h-full w-full items-end justify-center bg-amber-400">
    <h1>Landing</h1>
  </div>
</Container>
