---
import Container from "@/components/base-components/Container.astro";
import celImg from "@/assets/img/hero/movil_hero2.avif";
import logo from "@/assets/svg/logotipo.svg";
import flecha from "@/assets/svg/arrow-right.svg";
---

<Container
  id="hero_index"
  marginTop=" 2xl:mt-[180px]"
  classNameSeccion="h-[550px] xl:h-[650px]  pb-4 pt-8 "
>
  <div class="hero-grid px-2">
    <div class="a relative overflow-hidden" data-aos="fade-right">
      <img
        src={logo.src}
        alt="Logo Panambi"
        title="Logo Panambi"
        loading="lazy"
        height="auto"
        width="auto"
        class="absolute -bottom-[25%] -right-[20%] -z-10 h-[90%] opacity-50"
      />
      <div
        class="flex h-full w-full flex-col items-start justify-center gap-6 p-4 sm:justify-around"
      >
        <div class="flex w-full flex-col gap-2 lg:w-full">
          <h2
            class="text-violeta2-300 text-sm font-semibold lg:text-xl lg:tracking-wider"
          >
            Panambi - Estrategia Digital y Desarrollo Web
          </h2>
          <h3
            class="text-negro text-pretty text-4xl font-medium leading-[36px] lg:text-5xl lg:leading-[48px] xl:text-[72px] xl:leading-[65px]"
          >
            Del escritorio al clic: tu negocio, ahora es <strong
              class="text-violeta1-400 text-5xl font-black italic lg:text-6xl xl:text-[80px]"
              >digital</strong
            >
          </h3>
        </div>
        <div class="w-full lg:w-[90%]">
          <p
            class="text-negro/80 text-pretty text-sm font-medium leading-[17px] lg:text-base"
          >
            <strong class="text-violeta1-400 italic sm:text-[16px] lg:text-xl"
              >Convertimos profesionales en líderes digitales.</strong
            ><br />
            De tu servicio profesional a una experiencia que conecta, inspira y convierte.
          </p>
        </div>
      </div>
    </div>
    <div
      class="b relative overflow-hidden"
      data-aos="fade-up"
      data-aos-anchor-placement="top"
    >
      <img
        src="/img/hero_img_card_1.avif"
        alt="Imagen decorativa hero Panambi"
        title="Imagen decorativa hero"
        loading="lazy"
        width="400"
        height="300"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>
    <div
      class="c flex w-full items-center justify-center p-3"
      data-aos="fade-down"
      data-aos-anchor-placement="top"
    >
      <img
        src={flecha.src}
        loading="lazy"
        title="Imagen de flecha"
        height="auto"
        width="auto"
        alt="Flecha"
        class="h-full rotate-45 object-contain"
      /><img
        src={flecha.src}
        loading="lazy"
        title="Imagen de flecha"
        height="auto"
        width="auto"
        alt="Flecha"
        class="hidden h-full rotate-[135deg] object-contain md:block lg:hidden xl:block"
      />
    </div>
    <div class="d group" data-aos="zoom-out">
      <div
        class="relative h-full w-full object-bottom"
        data-aos="zoom-in"
        data-aos-duration="1200"
      >
        <img
          src={celImg.src}
          width="448"
          height="748"
          title="Imagen de celular con web"
          alt="imagen de celular con web"
          fetchpriority="high"
          class="absolute bottom-0 right-0 h-[120%] rounded-b-3xl transition-all duration-300 lg:h-[115%] lg:group-hover:scale-[104%] 2xl:h-[125%]"
        />
      </div>
    </div>
  </div>

  <style>
    .hero-grid {
      width: 100%;
      height: 100%;
      display: grid;
      gap: 16px;
      grid:
        "a a a a a " 1fr
        "a a a a a " 1fr
        "b b  b c c " 1fr
        / 1fr 1fr 1fr 1fr 1fr;
    }

    @media (width >= 600px) {
      .hero-grid {
        grid:
          "a a a a a d d d" 1fr
          "a a a a a d d d" 1fr
          "b b b b c c c c" 1fr
          / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }

    @media (width >= 1024px) {
      .hero-grid {
        grid:
          "a a a a a d d d" 1fr
          "a a a a a d d d" 1fr
          "b b b c c d d d" 1fr
          / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }

    .a,
    .b,
    .c,
    .d {
      color: white;
      border-radius: 24px;
      box-shadow: 4px 4px 0px #1a181b;
      border: 2px solid #1a181b;
    }

    .a {
      grid-area: a;
      background-color: color-mix(
        in oklab,
        var(--color-violeta1-100) 37%,
        transparent
      );
    }
    .d {
      grid-area: d;
      background-color: var(--color-verde4-200);
      display: none;
      position: relative;
      transition-behavior: allow-discrete;
    }

    @media (width >= 600px) {
      .d {
        display: flex;
        transition-behavior: allow-discrete;
      }
    }
    .b {
      grid-area: b;
    }
    .c {
      grid-area: c;
      background-color: var(--color-violeta1-200);
    }
  </style>
</Container>
