---
import Container from "@/components/base-components/Container.astro";
import Titulo from "@/components/base-components/Titulo.astro";
import UltimosProyectosCard from "@/components/base-components/UltimosProyectosCard.astro";
import cardProyectosData from "@/data/proyectos_card_index.json";  
---

<Container id="NuestrosProyectos">
  <div class="grid w-full place-items-center">
    <Titulo
      title="¿Queres ver mas?"
      subtitle="Te mostramos nuestros ultimos trabajos"
    />
    <div class="proyectos__layout"
    >
      {
        cardProyectosData.map((card) => (
          <UltimosProyectosCard
            titulo={card.titulo}
            bgImg={card.bgImg}
            cardLetra={card.cardLetra}
            bgColor={card.bgColor}
          />
      ))}
    </div>
  </div>
</Container>

<style>
  .proyectos__layout {
    width: 100%;

    display: grid;
    grid:
      "a a a b b" 1fr
      "c c d d d" 1fr
      / 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
  }

  .a {
    grid-area: a;
    /* background-image: url("/img/hero_img_card_1.avif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
</style>
