---
import Boton from "@/components/base-components/Boton.astro";
import Container from "@/components/base-components/Container.astro";
import TituloCards from "@/components/base-components/TituloCards.astro";


---

<Container id="ultimo_llamado_index" >
  <div class="flex w-full sm:w-[80%] items-center justify-center bg-violeta1-200 rounded-3xl border-2 border-negro shadow-Panambi py-5">
    <div class="flex flex-col items-center justify-center gap-4 ">
         <TituloCards textNegro={true}  title="No esperes más" subtitle="comencemos!!"/>
         <Boton texto="Contactanos"  href="/contacto"/>
       </div>
  </div>
</Container>

<style></style>